{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load l10n %}

{% block title %}
  Agencia de viaje
{% endblock %}

{% block description %}
  operador turistico
{% endblock %}

{% block content %}
  <div class="app">

    {% include "include/header.html" %}
    <main class="main">
        
      <div class="banner">
        <img src="{% static 'img/machu-picchu.jpg' %}" alt="" class="banner__img">
        <div class="banner__data">
          <h1 class="banner__title">cusco</h1>
          <p class="banner__description">
            Mística ciudad sagrada, considerada la capital del Imperio Tahuantinsuyo con un gran legado histórico y arquitectónico. Rodeada de valles verdosos con imponentes atractivos turísticos, cultura, tradición y fe aún latente. Conocida como el ombligo del mundo por ser el centro político y territorial del Imperio Incaico, el departamento de Cusco nos muestra una impactante variedad geográfica desde naturales cordilleras y relieves, hasta ríos como el Urubamba.
          </p>
        </div>
      </div>

      <section class="section">
        <h2 class="section__title">MEJORES OFERTAS</h2>
        <span class="section__subtitle">mira nuestras mejores promociones en tours</span>

        <div class="tours">
          
          
          {% for oferta in ofertas %}
            <div class="tour">
              <img src="{{ oferta.cover.url }}" alt="{{ ofertas.place }}" class="tour__img">
              
              <h3 class="tour__title">{{ oferta.name|title }}</h3>
              <span class="tour__city">{{ oferta.place }}</span>
              <span class="tour__day">{{ oferta.duration }} dias</span>
              <span class="tour__cost">$.{{ oferta.price_sol }}</span>
              <ul class="tour-detail">
                
                {% for detail in oferta.include.all|slice:"4" %}
                  <li class="tour-detail__item">{{ detail }} dias</li>
                {% endfor %}

              </ul>
              <div class="tour__footer">
                <a href="#" class="tour__btn">MAS INFORCIÓN.</a>
              </div>
            </div>            
          {% endfor %}

          <div class="tour">
            <img src="{% static 'img/nazca.jpg' %}" alt="" class="tour__img">
            
            <span class="tour__city">ICA</span>
            <span class="tour__day">5 dias</span>
            <h3 class="tour__title">lineas de nazca</h3>
            <span class="tour__cost">$ 300</span>
            <ul class="tour-detail">
              <li class="tour-detail__item">4-5 dias</li>
              <li class="tour-detail__item">Visistar centro arqueoligicos</li>
              <li class="tour-detail__item">vsitar muchupicchu</li>
              <li class="tour-detail__item">100% satisfacion Garantisada.</li>
            </ul>
            <div class="tour__footer">
              <a href="#" class="tour__btn">MAS INFORCIÓN...</a>
            </div>
          </div>

          <div class="tour">
            <img src="{% static 'img/huacachina.jpg' %}" alt="" class="tour__img">
            
            <span class="tour__city">ICA</span>
            <span class="tour__day">8 dias</span>
            <h3 class="tour__title">Huacachina</h3>
            <span class="tour__cost">$ 400</span>
            <ul class="tour-detail">
              <li class="tour-detail__item">4-5 dias</li>
              <li class="tour-detail__item">Visistar centro arqueoligicos</li>
              <li class="tour-detail__item">vsitar muchupicchu</li>
              <li class="tour-detail__item">100% satisfacion Garantisada.</li>
            </ul>
          </div>

          <div class="tour">
            <img src="{% static 'img/peru-cusco.jpg' %}" alt="" class="tour__img">
            
            <span class="tour__city">CUSCO</span>
            <span class="tour__day">8 dias</span>
            <h3 class="tour__title">Plaza de armas</h3>
            <span class="tour__cost">$ 800</span>
            <ul class="tour-detail">
              <li class="tour-detail__item">4-5 dias</li>
              <li class="tour-detail__item">Visistar centro arqueoligicos</li>
              <li class="tour-detail__item">vsitar muchupicchu</li>
              <li class="tour-detail__item">100% satisfacion Garantisada.</li>
            </ul>
          </div>

          <div class="tour">
            <img src="{% static 'img/machu-picchu.jpg' %}" alt="" class="tour__img">
            
            <span class="tour__day">8 dias</span>
            <h3 class="tour__title">valle sagrado de los incas</h3>
            <span class="tour__cost">$ 800</span>
            <ul class="tour-detail">
            <span class="tour__city">CUSCO</span>
              <li class="tour-detail__item">4-5 dias</li>
              <li class="tour-detail__item">Visistar centro arqueoligicos</li>
              <li class="tour-detail__item">vsitar muchupicchu</li>
              <li class="tour-detail__item">100% satisfacion Garantisada.</li>
            </ul>
          </div>

        </div>
      </section>

      <section class="section--paralax">
        <h2 class="section--paralax__title">PORQUE ELEGIRNOS</h2>

        <div class="cards">

          <div class="card">
            <span class="card__icon icon-star"></span>
            <h3 class="card__title">World Class Service</h3>  
            <p class="card__description">Lorem ipsum dolor. Mollitia praesentium laborum omnis laudantium voluptatem inventore rerum aperiam saepe ipsum.</p>
            <a href="" class="card__link">mas información.</a>
          </div>

          <div class="card">
            <span class="card__icon icon-globe"></span>
              <h3 class="card__title">World Class Service</h3>  
              <p class="card__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia praesentium laborum omnis aperiam saepe ipsum.</p>
              <a href="" class="card__link">mas información.</a>
          </div>

          <div class="card">
            <span class="card__icon icon-price-tag"></span>
              <h3 class="card__title">World Class Service</h3>  
              <p class="card__description">Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa </p>
              <a href="" class="card__link">mas información.</a>
          </div>

        </div>
      </section>

      <section class="section">
        <h2 class="section__title">MEJORES OFERTAS</h2>
        <span class="section__subtitle">mira nuestras tours mas recientes</span>
        
        <div class="tours">

          {% for tour in tours %}
            <div class="tour--new">
              <img src="{{ tour.cover.url }}" alt="{{ tour.name }}" title="{{ tour.name }}" class="tour--new__img">
              
              <a href="">
                <div class="tour--new__info">
                  <span class="tour--new__city">{{ tour.place }}</span>
                  <span class="tour--new__day">{{ tour.duration }} dias</span>
                  <h3 class="tour--new__title">{{ tour.name|truncatechars:25 }}</h3>
                  <span class="tour--new__cost">$.{{ tour.price_sol }}</span>
                </div>  
              </a>
            </div>
            
          {% endfor %}

          <div class="tour--new">
              <img src="{% static 'img/peru-cusco.jpg' %}" alt="" class="tour--new__img">
              
              <div class="tour--new__info">
                <span class="tour--new__city">CUSCO</span>
                <span class="tour--new__day">8 dias</span>
                <h3 class="tour--new__title">valle sagrado de los incas</h3>
                <span class="tour--new__cost">$ 800</span>
              </div>  
            </div>
          
            <div class="tour--new">
                <img src="{% static 'img/machu-picchu.jpg' %}" alt="" class="tour--new__img">
                
                <div class="tour--new__info">
                  <span class="tour--new__city">CUSCO</span>
                  <span class="tour--new__day">8 dias</span>
                  <h3 class="tour--new__title">valle sagrado de los incas</h3>
                  <span class="tour--new__cost">$ 800</span>
                </div>  
              </div>
          <div class="tour--new">
            <img src="{% static 'img/machu-picchu.jpg' %}" alt="" class="tour--new__img">
            
            <div class="tour--new__info">
              <span class="tour--new__city">CUSCO</span>
              <span class="tour--new__day">8 dias</span>
              <h3 class="tour--new__title">valle sagrado de los incas</h3>
              <span class="tour--new__cost">$ 800</span>
            </div>  
          </div>

          <div class="tour--new">
            <img src="{% static 'img/huacachina.jpg' %}" alt="" class="tour--new__img">
            
            <div class="tour--new__info">
              <span class="tour--new__city">CUSCO</span>
              <span class="tour--new__day">8 dias</span>
              <h3 class="tour--new__title">valle sagrado de los incas</h3>
              <span class="tour--new__cost">$ 800</span>
            </div>  
          </div>


        </div>

      </section>
    </main>
    {% include "include/footer.html" %}
  </div>

{% endblock %}