{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load i18n %}

{% block title %}
  Agencia de viaje
{% endblock %}

{% block description %}
  operador turistico
{% endblock %}

{% block content %}
  <div class="app">

    {% include "include/header.html" %}
    <main class="main">
        
      <div class="banner">
        <img src="{% static 'img/machu-picchu.jpg' %}" alt="" class="banner__img">
        <div class="banner__data">
          <h1 class="banner__title">INKA VIP TRAVEL</h1>
          <p class="banner__description">
            {% trans 'Falta descripcion' %} 
          </p>
        </div>
      </div>

      <section class="section">
        <h2 class="section__title">{% trans 'MEJORES OFERTAS' %}</h2>
        <span class="section__subtitle">{% trans 'Mira nuestras mejores promociones en tours' %}</span>

        <div class="tours">
          
          {% for oferta in ofertas %}
            <div class="tour">
              <img src="{{ oferta.cover.url }}" alt="{{ ofertas.place }}" class="tour__img">
              
              <h3 class="tour__title">{{ oferta.name|title }}</h3>
              <span class="tour__city">{{ oferta.place }}</span>
              <span class="tour__day">{{ oferta.duration }} {% trans 'dia(s)' %}</span>
              <div class="tour__cost">
                <span class="tour__cost-normal">
                  {% if  LANGUAGE_CODE == "es" %}
                    S/ {{ oferta.price_sol }}
                  {% else %}
                    $ {{ oferta.price_dolar }}
                  {% endif %}
                </span>
                <span class="tour__cost-des">
                  {% if  LANGUAGE_CODE == "es" %}
                    S/ {{ oferta.price_des_sol }}
                  {% else %}
                    $ {{ oferta.price_des_dolar }}
                  {% endif %}
                </span>
              </div>
              <ul class="tour-detail">

                {% for detail in oferta.include.all|slice:"4" %}
                  <li class="tour-detail__item">{{ detail }} {% trans 'dia(s)' %} </li>
                {% endfor %}

              </ul>
              <div class="tour__footer">
                <a href="{% url 'tours_app:detail' oferta.slug %}" class="tour__btn">
                  {% trans 'VER DETALLES' %}
                </a>
              </div>
            </div>            
          {% endfor %}

        </div>
      </section>

      <section class="section--paralax">
        <h2 class="section--paralax__title">{% trans 'PORQUE ELEGIRNOS' %}</h2>

        <div class="cards">

          <div class="card">
            <span class="card__icon icon-star"></span>
            <h3 class="card__title">{% trans 'Calidad De Servicio' %}</h3>  
            <p class="card__description">{% trans 'Lorem ipsum dolor. Mollitia praesentium laborum omnis laudantium voluptatem inventore rerum aperiam saepe ipsum' %}.</p>
            <a href="" class="card__link">{% trans 'más información' %}.</a>
          </div>

          <div class="card">
            <span class="card__icon icon-globe"></span>
              <h3 class="card__title">{% trans 'Remposabilidad Social' %} </h3>  
              <p class="card__description">{% trans 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia praesentium laborum omnis aperiam saepe ipsum' %}.</p>
              <a href="" class="card__link">{% trans 'más información' %}.</a>
          </div>

          <div class="card">
            <span class="card__icon icon-price-tag"></span>
              <h3 class="card__title">{% trans 'Mejores Precios Garantizados' %} </h3>  
              <p class="card__description">{% trans 'Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa' %}.</p>
              <a href="" class="card__link">{% trans 'más información' %}.</a>
          </div>

        </div>
      </section>

      <section class="section full">
        <h2 class="section__title">{% trans 'NUESTROS PAQUETES TURÍSTICOS' %}</h2>
        <span class="section__subtitle">{% trans 'Escoge entre nuestros paquetes recomendados por nuestros clientes' %}</span>
        
        <div class="tours">

          {% for tour in tours %}
            <div class="tour--new">
              <img src="{{ tour.cover.url }}" alt="{{ tour.name }}" title="{{ tour.name }}" class="tour--new__img">
              
              <a href="{% url 'tours_app:detail' tour.slug %}">
                <div class="tour--new__info">
                  <span class="tour--new__city">{{ tour.place }}</span>
                  <span class="tour--new__day">{{ tour.duration }} {% trans 'dia(s)' %}</span>
                  <h3 class="tour--new__title">{{ tour.name|truncatechars:25 }}</h3>
                  <div class="tour--new__cost">
                      <span class="tour--new__cost-normal">
                        {% if  LANGUAGE_CODE == "es" %}
                          S/ {{ tour.price_sol }}
                        {% else %}
                          $ {{ tour.price_dolar }}
                        {% endif %}
                      </span>
                      <span class="tour--new__cost-des">
                        {% if  LANGUAGE_CODE == "es" %}
                          S/ {{ tour.price_des_sol }}
                        {% else %}
                          $ {{ tour.price_des_dolar }}
                        {% endif %}
                        
                      </span>
                    </div>
                </div>  
              </a>
            </div>
            
          {% endfor %}

        </div>

      </section>
    </main>

    {% include "include/footer.html" %}

  </div>

{% endblock %}