.toggle-menu {
    cursor: pointer;
    @include from(l){
        display: none;
    }
}

.bar, .bar::before, .bar::after {
    display: block;
    height: $height-toggle;
    width: $width-toggle;
    background-color: #fff;
}

.bar {
    position: relative;
    margin-top: $height-toggle * 3;
    margin-bottom: $height-toggle * 3;
    
}

.bar::before, .bar::after {
    content: '';
    position: absolute;
}

.bar::before {
    transform: translateY($height-toggle * -2.5)
}

.bar::after {
    transform: translateY($height-toggle * 2.5)    
}
