.banner {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: .05;
    }

    &__img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &__data {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: auto;
        color: #fff;
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;

        @include from(m) {
            width: 50%;
        }
        
    }
    &__city {
        @extend %title3;
        font-weight: $regular;
        font-style: italic;
        margin-bottom: $gutter*0.5;
        align-self: center;
        padding: 5px 2px;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2.5px;
            background-color: #fff;
            bottom: 0;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__title {
        @extend %title1;
        text-transform: uppercase;
        padding: $gutter*0.5 0;
        
    }
    &__description {
        @extend %base;
    }

}