.header {
    position: absolute;
    left: 0;
    right: 0;
    @include edContainer;
    height: $height-header;
    background-color:transparent;
    align-items: center;
    z-index: $z-header;

    &-container {
        @include edItem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}