.section {
    @include edContainer;
    flex-direction: column;
    margin-top: $line-height*1.8;

    &__title {
        @include edItem;
        text-align: center;
        padding-bottom: $line-height*0.5;
        font-weight: $regular;
    }
    &__subtitle {
        @include edItem;
        text-align: center;
        color: $primary;
        padding-bottom: $line-height*1.5;
        font-style: italic;
        @include from(m) {
            padding-bottom: $line-height*2.5;            
        }
        &--left {
            @include edItem;
            color: black;
            text-align: left;
            padding-bottom: $line-height*1.5;
            font-style: italic;
            @include from(m) {
                padding-bottom: $line-height*2.5;            
            }
        }
    }
    &__content {
        @include edItem(100);
        color: #333;
        font-size: $s1;
        line-height: $line-height*1.3;
    }
}

.section--full {
    @include full;
}

.section--cart {
    flex-direction: row;
    justify-content: space-between;
}

.section--payment {
    @include from(m) {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}


.section--paralax {
    @include edContainer;
    @include full;
    flex-direction: row;
    margin-top: $line-height*2;
    padding-bottom: $line-height*5;
    background-image: url("../img/machu-picchu-2.jpg");
    
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include from(m) {
        height: 400px;        
    }

    &__title {
        @include edItem;
        text-align: center;
        padding: $line-height*2 0;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
    }
}