.section {
    @include edContainer;
    flex-direction: column;
    margin-top: $line-height*1.5;

    &__title {
        @include edItem;
        text-align: center;
        padding-bottom: $line-height*0.5;
    }
    &__subtitle {
        @include edItem;
        @extend %title3;
        text-align: center;
        color: $primary;
        padding-bottom: $line-height;
    }
}