{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load i18n %}

{% block title %}
  Agencia de viaje
{% endblock %}

{% block description %}
  operador turistico
{% endblock %}

{% comment %} {% get_current_language as LANGUAGE_CODE %} {% endcomment %}

{% block content %}
  <div class="app">

    {% include "include/header.html" %}
    <main class="main">
        
      <div class="banner">
        <img src="{{ tour.cover.url }}" alt="{{ tour.name }}" title="{{ tour.name }}" class="banner__img">
        <div class="banner__data">
          <span class="banner__city">Perú, {{ tour.place }}</span>
          <h1 class="banner__title">{{ tour.name }}</h1>
        </div>
      </div>

      <section class="section">
          <div class="package-info">

            <div class="package__box">
                <span class="package__label">{% trans 'DURACIÓN' %}</span>
                <span class="package__content">{{ tour.duration }} DIAS</span>
            </div>

            <div class="package__box">
                <span class="package__label">{% trans 'PRECIO' %}</span>
                <span class="package__content">$.{{ tour.price_sol }}</span>
            </div>

            <div class="package__box">
                <span class="package__label">{% trans 'DISPONIBILIDAD' %}</span>
                
                {% if tour.duration == "1" %}
                  <span class="package__content">{% trans 'Consultar' %}</span>                  
                {% else %}
                  <span class="package__content">{% trans 'TODO EL AÑO' %}</span>
                {% endif %}
                  
            </div>

            <div class="package__box">
                <a href="#" class="package__btn">{% trans 'COMPRAR' %}</a>
            </div>

          </div>
      </section>   



      <section class="section">
        <h2 class="section__title">{{ tour.name|title }}</h2>
        <span class="section__subtitle">
        {% blocktrans with duration=tour.duration %}
          Experiencia en {{ duration }} dia(s) de viaje
        {% endblocktrans %}
         </span>
        
        {% if LANGUAGE_CODE == "es" %}
          <div class="section__content">
            <p>{{ tour.description_es }}</p> 
          </div>                    
        {% endif %}

        {% if LANGUAGE_CODE == "en" %}
          <div class="section__content">
            <p>{{ tour.description_en }}</p> 
          </div>                    
        {% endif %}

        {% if LANGUAGE_CODE == "pt" %}
          <div class="section__content">
            <p>{{ tour.description_pt }}</p> 
          </div>                    
        {% endif %}
          



        <div class="ed-item">
          <div class="ed-video">
            {{ tour.video|safe }}
          </div>
        </div>

      </section>


      <section class="section">
        <h2 class="section__title">{% trans 'ITINERARIO DEL TOUR' %}</h2>
        <span class="section__subtitle">{% trans 'Experiencia de clase mundial' %}</span>
        
        <div class="program-container">
          
          {% for item in itinerary %}
            <div class="program">
              <span class="program__day">{% trans 'DIA' %} {{ item.day }}</span>
              <H3 class="program__title">{{ item.title|upper }}</H3>
              {% if LANGUAGE_CODE == "es" %}
                <p class="program__description">{{ item.description_es }}</p>           
              {% endif %}
              {% if LANGUAGE_CODE == "en" %}
                <p class="program__description">{{ item.description_en }}</p>           
              {% endif %}
              {% if LANGUAGE_CODE == "pt" %}
                <p class="program__description">{{ item.description_pt }}</p>
              {% endif %}
            </div>
            
          {% endfor %}

      </section>

      <section class="ed-container">
        <section class="ed-item s-100 m-1-3 section">
          <h3 class="section__title">{% trans 'INCLUYE' %}</h3>
          
          <ul class="list">
          
          {% for include in tour.include.all %}
            <li class="list__item">{{ include }}</li>            
          {% endfor %}
            
          </ul>
  
        </section>
        
        <section class="ed-item s-100 m-1-3 section">
          <h3 class="section__title">{% trans 'NO INCLUYE' %}</h3>
          
          <ul class="list">
            
            {% for noInclude in tour.no_include.all %}
              <li class="list__item">{{ noInclude }}</li>
            {% endfor %}

          </ul>
  
        </section>

        <section class="ed-item s-100 m-1-3 section">
          <h3 class="section__title">{% trans 'RECOMEDACIONES' %}</h3>
          
          <ul class="list">
            
            {% for recommendation in tour.recommendation.all %}
              <li class="list__item">{{ recommendation }}</li>
            {% endfor %}

          </ul>
  
        </section>

      </section>


      <section class="section--gallery">

        <div class="gallery">
        
          {% for photo in gallery %}
            
            {% if forloop.last %}
              <div class="gallery__item">
                <img src="{{ photo.image.url }}" alt="" class="gallery__img--action">
                <div class="gallery__info">

                  <p class="gallery__price">
                    {% trans 'PRECIO' %} 
                    {% if LANGUAGE_CODE == "es" %}
                       S/ {{tour.price_sol }}
                    {% else %}
                       $ {{tour.price_dolar }}                      
                    {% endif %}
                  </p>
                  
                  <span class="gallery__call">{% trans 'Compra este paquete' %}</span>
                  <a href="#" class="gallery__btn">{% trans 'Comprar Ahora' %}</a>
                </div>
              </div>
            {% else %}
              <div class="gallery__item">
                <img src="{{ photo.image.url }}" alt="" class="gallery__img">
              </div>
            {% endif %}
              
          {% endfor %}  
          
        </div>
      </section>

    </main>
    {% include "include/footer.html" %}
  </div>

{% endblock %}