{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load l10n %}

{% block title %}
  Agencia de viaje
{% endblock %}

{% block description %}
  operador turistico
{% endblock %}

{% block content %}
  <div class="app">

    {% include "include/header.html" %}
    <main class="main">
        
      <div class="banner">
        <img src="{{ tour.cover.url }}" alt="{{ tour.name }}" title="{{ tour.name }}" class="banner__img">
        <div class="banner__data">
          <span class="banner__city">Perú, {{ tour.place }}</span>
          <h1 class="banner__title">{{ tour.name }}</h1>
        </div>
      </div>

      <section class="section">
          <div class="package-info">

            <div class="package__box">
                <span class="package__label">DURACIÓN</span>
                <span class="package__content">{{ tour.duration }} DIAS</span>
            </div>

            <div class="package__box">
                <span class="package__label">PRICE</span>
                <span class="package__content">$.{{ tour.price_sol }}</span>
            </div>

            <div class="package__box">
                <span class="package__label">DISPONIBILIDAD</span>
                
                {% if tour.duration == "1" %}
                  <span class="package__content">Consultar</span>                  
                {% else %}
                  <span class="package__content">TODO EL AÑO</span>
                {% endif %}
                  
            </div>

            <div class="package__box">
                <a href="#" class="package__btn">COMPRAR</a>
            </div>

          </div>
      </section>   





      <section class="section">
        <h2 class="section__title">{{ tour.name }}</h2>
        <span class="section__subtitle">Experiencia en {{ tour.duration }} dia(s) de viaje</span>
        
        <div class="section__content">
          <p>{{ tour.description_es }}</p> 
        </div>

        <div class="ed-item">
          <div class="ed-video">
            {{ tour.video|safe }}
          </div>
        </div>

      </section>


      <section class="section">
        <h2 class="section__title">PROGRAMACIÓN DEL TOUR</h2>
        <span class="section__subtitle">Experiencia de clase mundial</span>
        
        <div class="program-container">
          
          {% for item in itinerary %}
            <div class="program">
              <span class="program__day">DIA {{ item.day }}</span>
              <H3 class="program__title">{{ item.title|upper }}</H3>
              <p class="program__description">{{ item.description_es }}</p>
            </div>
            
          {% endfor %}

      </section>

      <section class="ed-container">
        <section class="ed-item s-100 m-50 section">
          <h2 class="section__title">INCLUYE</h2>
          <span class="section__subtitle">Experiencia de clase mundial</span>
          
          <ul class="list">
          
          {% for include in tour.include.all %}
            <li class="list__item">{{ include }}</li>            
          {% endfor %}
            
          </ul>
  
        </section>
        
        <section class="ed-item s-100 m-50 section">
          <h2 class="section__title">NO INCLUYE</h2>
          <span class="section__subtitle">Experiencia de clase mundial</span>
          
          <ul class="list">
            
            {% for noInclude in tour.no_include.all %}
              <li class="list__item">{{ noInclude }}</li>
              
            {% endfor %}

          </ul>
  
        </section>

      </section>


      <section class="section--gallery">

        <div class="gallery">
        
          {% for photo in gallery %}
            
            {% if forloop.last %}
              <div class="gallery__item">
                <img src="{{ photo.image.url }}" alt="" class="gallery__img--action">
                <div class="gallery__info">
                  <p class="gallery__price">STARTING PRICE ${{tour.price_sol }}</p>
                  <span class="gallery__call">Compra este tour</span>
                  <a href="#" class="gallery__btn">Comprar Ahora</a>
                </div>
              </div>
            {% else %}
              <div class="gallery__item">
                <img src="{{ photo.image.url }}" alt="" class="gallery__img">
              </div>
            {% endif %}
              
          {% endfor %}  
          
        </div>
      </section>

    </main>
    {% include "include/footer.html" %}
  </div>

{% endblock %}