<footer class="footer">
    <section class="footer__data">
        <div class="footer__data__about">
            hola mundo
        </div>
        <div class="footer__data__info">

        </div>
        <div class="footer__data__tripavisor">

        </div>
    </section>
    <section class="footer__referencs">
        <div class="footer__referens__desc">

        </div>
        <div class="footer__referens__pay">

        </div>  
    </section>
    <section class="footer__social">

    </section>

</footer>