<header class="header">
    <div class="toggle-menu" id="toogle-menu">
        <span class="bar" aria-hidden="true"></span>
    </div>
    <a href="#" class="logo-header">
        Inkatravel vip
        <!-- <img src="#" alt="inka travel vip" class="logo__header"> -->
    </a>
    
    <nav class="main-nav">
        <ul class="main-menu">
        <li class="main-menu__item">
            <a href="#" class="main-menu__link">full day</a>
        </li>
        <li class="main-menu__item">
            <a href="#" class="main-menu__link">paquetes</a>
        </li>
        <li class="main-menu__item">
            <a href="#" class="main-menu__link">tours machupicchu</a>
        </li>
        <li class="main-menu__item">
            <a href="#" class="main-menu__link">quiens somos</a>
        </li>
        <li class="main-menu__item--phone">
            <a href="#" class="main-menu__link">Telefono</a>
        </li>
        </ul>
    </nav>
</header>
